/* 
    Document   : stylesheet
    Created on : 18/09/2012, 3:05:18 AM
    Author     : Jenny
    Description:
        Purpose of the stylesheet follows.
*/
 
body {
    background: silver;
}

#main_container {
    width: 700px;
    margin: 0 auto;
}
#header {
    margin: 1em;
    background: gold;
}

#content {
    background: #fff;
    margin: 1em;
}

#footer {
    background: green;
    margin: 1em;
}